.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 100px;

    .error {
        color: red;
    }

    .success {
        color: green;
    }

    .loginForm {
        display: flex;
        flex-direction: column;

        input {
            background: transparent;
            border: none;
            border-bottom: 2px solid black;
            margin-top: 25px;
            padding: 0 0 5px 5px;
            outline: none;
        }

        button {
            margin-top: 25px;
            border: none;
            font-size: 22px;
            cursor: pointer;
            background-color: transparent;
        }
    }
}